﻿.contextmenu #cm_whereusedplus > .image {
    background-image: url('${ImgUrl}where-used-plus.png');
    background-size: 16px;
}

#WhereUsedPlusBtn .image {
    background-image: url('${ImgUrl}where-used-plus.png');
    background-position: -6px 0;
    width: 33px;
}